---
description: "Setup description."
title: "Setup"
weight: 1
searchContent: {
	title: 'My custom title',
	description: 'Some other type of description or something like that'
}
---

{namespace pageDocsIndex}

/**
 * @param site
 */
{template .render}
	{let $page: $site.index.children[0] /}

	{call topics.render data="all"}
		{param page: $page /}
		{param searchContent: $page.searchContent /}
		{param accents: $site.accents /}
	{/call}
{/template}