---
description: "Toolkit description."
title: "Toolkit"
weight: 3
searchContent: {
	title: 'Something unique',
	description: 'Gotta keep the people interested'
}
accentIndex: 1
---

{namespace pageToolkitIndex}

/**
 * @param site
 */
{template .render}
	{let $page: $site.index.children[2] /}

	{call topics.render data="all"}
		{param page: $page /}
		{param searchContent: $page.searchContent /}
	{/call}
{/template}