---
description: "Toolkit search description."
hidden: true
title: "Toolkit Search"
---

{namespace pageToolkitSearch}

/**
 * @param site
 */
{template .render}
	{call toolkit.render data="all"}
		{param content kind="html"}
			<div class="container-hybrid docs-home-top">
				{call SSGSearch.render}
					{param action: '/toolkit/search.html' /}
					{param placeholder: 'Search Setup' /}
					{param section: $site.index.children[2] /}
				{/call}
			</div>
		{/param}
	{/call}
{/template}