/* Topbar
	 ========================================================================== */

.topbar {
	background-color: rgba(#FFF, 0.9);
	z-index: 1000;

	&.sidebar-offset {
		right: 0;
	}

	@media (max-width: $screen-md-min) {
		&.sidebar-offset {
			padding: 12px 20px;
		}
	}
}

.topbar-logo-link .name {
	color: $accent;
}

.topbar-link {
	color: rgba($accent, 0.5);

	&:hover, &:focus {
		color: rgba($accent, 0.8);
	}
}

/* Sidebar
	 ========================================================================== */

.docs {
	.sidebar {
	bottom: 0;
	height: auto;
	overflow-y: auto;
	top: 0;

		@media (max-width: $screen-md-min) {
			.docs .sidebar {
				bottom: auto;
				top: 60px;
			}
		}
	}

	em {
		font-style: italic;
	}

	.sidebar-list {
		overflow-y: visible;
	}

	.docs-content pre {
		white-space: normal;
	}

	th, td {
		border: 1px solid $primary;
		padding: 5px;
	}
}


@media (min-width: $screen-md-min) {
	$sidebar-width: 340px;

	.docs .sidebar {
		width: $sidebar-width;
	}

	.docs .sidebar-offset {
		margin-left: $sidebar-width + 1px;
		width: calc(100% - #{$sidebar-width});
	}

	.docs .sidebar-search {
		margin: 0;

		.form-control {
			border-radius: 0;
			border-width: 0 0 1px 0;
		}
	}
}

/* Header
	 ========================================================================== */

@media (min-width: $screen-md-min) {
	.guide-header {
		padding-top: 96px;
	}
}

/* Topics
	 ========================================================================== */

.docs-home-topics .topic {
	height: 285px;
}

/* Medium Screens
	 ========================================================================== */

